.red {
  color: red;
}

.red[aria-selected='true'] {
  border-bottom-color: red;
}

.orange {
  color: orange;
}

.orange[aria-selected='true'] {
  border-bottom-color: orange;
}

.yellow {
  color: yellow;
}

.yellow[aria-selected='true'] {
  border-bottom-color: yellow;
}

.aqua {
  color: aqua;
}

.aqua[aria-selected='true'] {
  color: aqua;
}

li[role='tab'][data-value='apple'] {
  color: red;
}